/* Alle Selektoren müssen mit .start beginnen */

/* Aenderungen fuer Handys */
/*@media (min-width: 400px) { */
.start {
/*background-color: #F2F5A9;*/
background: yellow; /*rgba(200, 200,200, 0.7);*/
margin-left: 10px;
margin-right: 10px;
font-size: 12px;


}

.start h3 {
  font-family: sans-serif;
  font-size: 9pt;
  color: inherit;
  margin-left: 1px;


}
.start h2 {
  font-family: sans-serif;
  font-size: 12pt;
  color: inherit;
  margin-left: 20px;
  margin-top: 2px;

}
.start #text{
    margin-left: 10px;
    margin-right: 10px;
    /*background-color:#FBFBEF*/
    background-color: rgba(220,220,220,0.8);
    /*opacity: 0.5;*/
    padding-left: 10px;
    padding-bottom:5px;
    padding-top: 5px;
}
.start img{
  width: 7%;
  height: 7%;
}

.start #button1{
display: inline;
margin-left:40px;
margin-right:30px;
margin-top: 15px;
display: inline-block;
border-width: 1.5px;
border-style: solid;
border-color: black;
padding-right: 15px;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 9pt;
background-color: #DCDCDC;
}

.start #button1:hover{
  color: orange;
  font-style: italic;
  background-color: white;
}

.start #button2{
  display: inline;
  margin-left:40px;
  margin-right:30px;
  margin-top: 15px;
  display: inline-block;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  padding-right: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 9pt;
  background-color: #DCDCDC
  }
.start #button2:hover{
  color: orange;
  font-style: italic;
  background-color: white;
}
.start #button3{
  display: inline;
  display: inline;
  margin-left:40px;
  margin-right:30px;
  margin-top: 15px;
  margin-bottom: 60px;
  display: inline-block;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  padding-right: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 9pt;
  background-color: #DCDCDC
  }
.start #button3:hover{
  color: orange;
  font-style: italic;
  background-color: white;
}



/* Aenderungen fuer Tablets */
@media (min-width: 28em) {
  .start {
  /*background-color: #F2F5A9;*/
  background: blue; /*rgba(200, 200,200, 0.7);*/
  margin-left: 30px;
  margin-right: 30px;
  font-size: 15px;


  }

  .start h3 {
    font-family: sans-serif;
    font-size: 67pt;
    color: inherit;

  }
  .start h2 {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 25pt;
    color: inherit
  }
  .start img{
    width: 7%;
    height: 7%;
  }

  .start #button1{
  display: inline;
  margin-left:80px;
  margin-right:80px;
  margin-top: 25px;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding-right: 6px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 10pt;
  }

  .start #button1:hover{
    color: orange;
    font-style: italic;
  }

  .start #button2{
    display: inline;
    margin-left:80px;
    margin-right:30px;
    margin-top: 25px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-right: 160px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10pt;
    }
  .start #button2:hover{
    color: orange;
    font-style: italic;
  }
  .start #button3{
    display: inline;
    margin-left:80px;
    margin-right:30px;
    margin-top: 25px;
    margin-bottom: 80px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-right: 185px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10pt;
    }
  .start #button3:hover{
    color: orange;
    font-style: italic;
  }
  }

}

/*  Aenderungen fuer Desktops */
@media (min-width: 40em) {
  .start {
  /*background-color: #F2F5A9;*/
  background: green; /*rgba(200, 200,200, 0.7);
*/  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;


  }

  .start h3 {
    font-family: sans-serif;
    font-size: 2pt;
    color: inherit;

  }
  .start h2 {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 30pt;
    color: inherit
  }
  .start img{
    width: 7%;
    height: 7%;
  }

  .start #button1{
  display: inline;
  margin-left:80px;
  margin-right:30px;
  margin-top: 25px;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding-right: 6px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 5pt;
  }

  .start #button1:hover{
    color: orange;
    font-style: italic;
  }

  .start #button2{
    display: inline;
    margin-left:80px;
    margin-right:30px;
    margin-top: 25px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-right: 160px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20pt;
    }
  .start #button2:hover{
    color: orange;
    font-style: italic;
  }
  .start #button3{
    display: inline;
    margin-left:80px;
    margin-right:30px;
    margin-top: 25px;
    margin-bottom: 80px;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-right: 185px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20pt;
    }
  .start #button3:hover{
    color: orange;
    font-style: italic;
  }
  }
}
