/* Alle Selektoren müssen mit .start beginnen */


.start {
    /*background-color: #F2F5A9;*/
    background: rgba(200, 200,200, 0.7);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    padding-bottom: 0.5em;
}

.start h3 {
  font-size: 11pt;
  color: inherit;
  margin-left: 1px;


}
.start h2 {
  font-family: sans-serif;
  font-size: 14pt;
  color: inherit;
  margin-left: 20px;
  margin-top: 30px;

}
.start #text{
    margin-left: 10px;
    margin-right: 10px;
    /*background-color:#FBFBEF*/
    background-color: rgba(240,240,240,8);
    /*opacity: 0.5;*/
    padding-left: 10px;
    padding-bottom:5px;
    padding-top: 5px;
}
.start img{
  width: 1.5em;
  height: 1.5em;
}


.start #button1, .start #button2, .start #button3{
margin-left:40px;
margin-right:30px;
margin-top: 15px;
border-width: 1.5px;
border-style: solid;
border-color: black;
padding-right: 15px;
padding-left: 20px;
padding-top: 10px;
padding-bottom: 10px;
font-size: 9pt;
background-color:rgba(240,240,240,8);;
}

.start #button1:hover, .start #button2:hover, .start #button3:hover{
  color: orange;
  font-style: italic;
  background-color: white;
}


.start #button3{
  margin-bottom: 60px;
  }


/* Aenderungen fuer Tablets */
@media (min-width: 30em) and (orientation: landscape) {
  .start {
  /*background-color: #F2F5A9;*/
  ;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 2em;
  }

  .start h3 {
    font-size: 13pt;

  }
  .start h2 {
    margin-top: 45px;
    font-size: 20pt;
  }
  .start img{
    width: 6%;
    height: 6%;
  }

  .start #button1, .start #button2, .start #button3{
    max-width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12pt;
    padding-left: 100px;
    margin-left: 200px;
  font-size: 12pt;
  }


  .start #button3{
    margin-bottom: 10px;

    }
}


/*  Aenderungen fuer Desktops */
@media (min-width: 75em) {
  .start {
  /*background-color: #F2F5A9;*/
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;

  }

  .start h3 {
    font-size: 13pt;

  }
  .start h2 {
    margin-top: 45px;
    font-size: 20pt;
  }
  .start img{
    width: 7%;
    height: 7%;
  }

  .start #button1, .start #button2, .start #button3{
  max-width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12pt;
  padding-left: 100px;
  margin-left: 200px;
  }


  .start #button3{
    margin-bottom: 80px;
    }

}
