/* Alle Selektoren müssen mit .anzeigen beginnen */

.anzeigen {
	background-color: rgba(200, 200,200, 0.7);
	font-size: 14pt;
	font-family: sans-serif;
	margin-left: 1em;
	margin-right: 1em;
}
.anzeigen h2{
	font-size: 5pt;
}
.anzeigen h3{
	margin-top: 2em;
}
.anzeigen img{
	width: 14em;
	height: 12em;
}
.anzeigen td{
	display: block;
	font-size: 12pt;
}
	.anzeigen th{
		display: none;
		width: 5em;
	}
.anzeigen span{
	display: inline-block;
	width: 8em;
}
.anzeigen #Materialtabelle{
	margin-bottom: 2em;
}
.anzeigen #Anleitung{
	margin-bottom: 1em;
	font-size: 12pt;
}
.anzeigen #Anleitung span{
	font-size: 14pt;
	display:initial;
}
.anzeigen #Buttons{
	margin-bottom: 0.5em;
}

/* Kommentarfunktion innerhalb der Anzeigenseite*/


.anzeigen #Kommentarbody {
  width: 70%;
  margin-left: 1em;
  display: block;
}


.anzeigen comment {
  display: inherit;
  border-radius: 0.5em;
  padding: 0.5em;
  color: white;
  margin-bottom: 1em;
	width: 70%;
	margin-left: 1em;
	margin-top: 1.5em;
}

.anzeigen .hellbraun {
  background-color: rgb(51,51,51, 0.8)!important;
}
.anzeigen .braun {
  background-color: rgb(153, 51, 0, 0.7) !important;
	display: inherit;
	border-radius: 0.5em;
	padding: 0.5em;
	color: white;
	margin-bottom: 1em;
	width: 70%;
	margin-left: 1em;
	margin-top: 1.5em;
}


.anzeigen textarea {
  display: inherit;
  width: 100%;
  border: 2px #b0bec5 solid;
  padding: 1em;
  border-radius: 1em;
}

.anzeigen input {
  display: grid;
  background-color: rgba(51,51,51, 0.8);
	color: white;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: none;
  border: none;
  font-weight: bold;
  margin-right: 1em;
  margin-top: 2ex;
	margin-bottom: 1em;
}
.anzeigen input:hover {
  background-color: #00b2cc;
}

.anzeigen time {
  color: lightgrey;
  display: block;
  margin-top: 1ex;
  font-style: italic;
}

/* Aenderungen fuer Tablets */
@media (min-width: 30em) and (orientation: landscape) {
.anzeigen {
background-color: rgba(200, 200,200, 0.7);
font-size: 14pt;
font-family: sans-serif;
margin-left: 1em;
margin-right: 1em;
}
.anzeigen h2{
	font-size: 25pt;
}
.anzeigen h3{
	margin-top: 2em;
}
.anzeigen img{
	width: 14em;
	height: 12em;
}
.anzeigen td{
	display: block;
	font-size: 12pt;
}
	.anzeigen th{
		display: none;
		width: 5em;
	}
.anzeigen span{
	display: inline-block;
	width: 8em;
}
	.anzeigen #Kopf{
		background-color: rgba(51,51,51,0.2);
			text-align: center;
			padding-top: 20px;
			padding-bottom: 30px;
			margin-left: 20px;
			margin-right: 20px;
			}

	.anzeigen #Materialtabelle{
		background-color: rgba(51,51,51,0.2);
		margin-bottom: 0;
		padding-left: 150px;
		padding-top: 10px;
		padding-bottom: 30px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.anzeigen h2{
		background-color: rgba(51,51,51,0.2);
		margin-bottom: 0;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 30px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 100px;
	}
	.anzeigen h3{
		background-color: rgba(51,51,51,0.2);
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 150px;
		padding-top: 100px;
		padding-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
}

.anzeigen h4{
	font-size: 17pt;

}

.anzeigen h5{
	font-size: 17pt;
	margin-left: 170px;
}

.anzeigen #Anleitung{
	background-color: rgba(51,51,51,0.2);
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 150px;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.anzeigen #Buttons {
	background-color: rgba(51,51,51,0.2);
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 80px;
	padding-left: 150px;
	margin-bottom: 80px;
}

.anzeigen #comments{
	padding-left: 200px;
}

.anzeigen .hellbraun{
		margin-left: 1px;
		margin-top: 90px;
		padding-left: 30px;
		margin-right: 90px;
}

.anzeigen #Kommentarbody{
	padding-left: 170px;
	padding-bottom: 50px;
}

	.anzeigen th{
		display: table-cell;
		font-size: 12pt;
		padding-right: 2em;
		text-align: left;
	}
.anzeigen h2{
	margin-top: 2em;
}
	.anzeigen td{
		display: table-cell;
		text-align: left;
	}
	.anzeigen span {
		display: none;
	}
	.anzeigen comment {
		width: 30%;
	}

}

/*  Aenderungen fuer Desktops */
/*@media (min-width: 1200px)*/
@media (min-width: 75em) {
.anzeigen {
background-color: rgba(200, 200,200, 0.7);
font-size: 14pt;
font-family: sans-serif;
margin-left: 1em;
margin-right: 1em;
}
.anzeigen h2{
	font-size: 30pt;
}
.anzeigen h3{
	margin-top: 2em;
}

	.anzeigen #Kopf{
		background-color: rgba(51,51,51,0.2);
			text-align: center;
			padding-top: 20px;
			padding-bottom: 30px;
			margin-left: 20px;
			margin-right: 20px;
			}

	.anzeigen #Materialtabelle{
		background-color: rgba(51,51,51,0.2);
		margin-bottom: 0;
		padding-left: 270px;
		padding-top: 10px;
		padding-bottom: 30px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.anzeigen h2{
		background-color: rgba(51,51,51,0.2);
		margin-bottom: 0;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 30px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 100px;
	}
	.anzeigen h3{
		background-color: rgba(51,51,51,0.2);
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 270px;
		padding-top: 100px;
		padding-bottom: 20px;
		margin-left: 20px;
		margin-right: 20px;
}

.anzeigen h4{
	font-size: 17pt;

}

.anzeigen h5{
	font-size: 17pt;
	margin-left: 270px;
}

.anzeigen #Anleitung{
	background-color: rgba(51,51,51,0.2);
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 270px;
	padding-top: 40px;
	padding-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}

.anzeigen #Buttons {
	background-color: rgba(51,51,51,0.2);
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 80px;
	padding-left:270px;
	margin-bottom: 80px;
}

.anzeigen #comments{
	padding-left: 250px;
}

.anzeigen .hellbraun{
		margin-left: 1px;
		margin-top: 90px;
		padding-left: 30px;
		margin-right: 90px;
}

.anzeigen #Kommentarbody{
	padding-left: 170px;
	padding-bottom: 50px;
}
}
