/* Alle Selektoren müssen mit .editieren beginnen */


.editieren {
	background: rgba(200, 200,200, 0.7);
	margin-left: 10px;
	margin-right: 10px;
	font-size: 5px;
	padding-bottom: 10em;
}

.editieren h2 {
	font-family: sans-serif;
	font-size: 16pt;
	color: inherit;
	margin-left: 20px;
	margin-top: 1.5em;
	text-decoration-line: underline;
}

.editieren img{
	width: 8%;
	height: 8%;
}
.editieren #Bezeichnung{
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: 501;
	color: inherit;
	margin-left: 20px;
	margin-top: 25px;
;

}
.editieren #textfeld{
	width: 250px;
	height:20px;
	margin-top:5px;

}
.editieren #auswahl{
	width:250px;
	margin-top:5px;
	margin-bottom: 20px;

}
.editieren #Kategorie{
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: 501;
	color: inherit;
	margin-left: 20px;
	margin-top: 20px;
}

.editieren #durchsuchen{
	margin-left: 20px;
}
.editieren h1{
	font-family: sans-serif;
	font-size: 10pt;
	color: inherit;
	margin-top: 30px;
	margin-left: 20px;
}

.editieren #table{
	margin-left: 20px;
}

.editieren #stückzahl{
	width: 10.5em;
}
.editieren #laenge{
	width: 10.5em;
}
.editieren #hoehe{
	width: 10.5em;
}
.editieren #breite{
	width: 10.5em;
}
.editieren #preis{
	width: 10.5em;
}
.editieren #Anleitung{
	font-size: 10pt;
	font-weight: 501;
}
.editieren #textfeld2{
	width: 250px;
	height:80px;
	margin-top:5px;

}
.editieren #suchbutton{
	margin-right:10px;
	margin-left:50px;
	margin-top: 5px;
}

.editieren th{
	padding-right: 2em;
	border: 1px solid black;
}
.editieren #Anleitung{
	font-family: sans-serif;
	font-size: 10pt;
	color: inherit;
	margin-left: 20px;
	margin-top: 30px;
}

.editieren td{
	text-align: right;
	display: block;
	font-size: 10pt;
}
	.editieren th{
		display: none;
		font-size: 10pt;
		width: 5em;
	}
	.editieren h3{
		margin-top: 10em;
	}



/* Aenderungen fuer Tablets */
@media (min-width: 30em) and (orientation: landscape) {

	.editieren th{
		display: table-cell;
		font-size: 10pt;
	}

	.editieren td{
		display: table-cell;
		text-align: left;
	}
	.editieren span {
		display: none;
	}
	.editieren table input{
		width: 100%;
	}
}

/*  Aenderungen fuer Desktops */
@media (min-width: 75em) {

}
