/* Alle Selektoren müssen mit .editieren beginnen */


.editieren {
	background: rgba(200, 200,200, 0.7);
	margin-left: 15px;
	margin-right: 15px;
	font-size: 5px;
	padding-bottom: 2em;


}

.editieren h2 {
	font-family: sans-serif;
	font-size: 14pt;
	color: inherit;
	margin-left: 20px;
	text-decoration-line: underline;
	margin-top: 60px;
}

.editieren img{
	width: 8%;
	height: 8%;
}
.editieren #Bezeichnung{
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: 501;
	color: inherit;
	margin-left: 20px;
	margin-top: 25px;
;

}
.editieren #textfeld{
	width: 270px;
	height:20px;
	margin-top:5px;
	background-color: rgba(240,240,240,8);
	border: none;

}
.editieren #auswahl{
	width:270px;
	margin-top:5px;
	margin-bottom: 20px;
	background-color: rgba(240,240,240,8);
	border: none;

}
.editieren #Kategorie{
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: 501;
	color: inherit;
	margin-left: 20px;
	margin-top: 20px;
}

.editieren #durchsuchen{
	margin-left: 20px;
}
.editieren h1{
	font-family: sans-serif;
	font-size: 10pt;
	color: inherit;
	margin-top: 30px;
	margin-left: 20px;
}

.editieren #table{
	margin-left: 20px;
}

.editieren #stückzahl{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;
}
.editieren #laenge{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;
}
.editieren #hoehe{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;
}
.editieren #breite{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;
}
.editieren #preis{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;
}
.editieren #Materialname{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;
}
.editieren #Maßeinheit{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;
}
.editieren #Maßeinheit2{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;
}
.editieren #Maßeinheit3{
	width: 10.5em;
	background-color: rgba(240,240,240,8);
	border: none;

}
.editieren #Anleitung{
	font-size: 10pt;
	font-weight: 501;
	font-family: sans-serif;
	color: inherit;
	margin-top: 30px;
}
.editieren #textfeld2{
	width: 270px;
	height:80px;
	margin-top:5px;
	background-color: rgba(240,240,240,8);
	border: none;

}
.editieren #suchbutton{
	margin-right:10px;
	margin-left: 90px;
	margin-top: 5px;
}

.editieren th{
	padding-right: 2em;
	border: 1px solid black;
}
.editieren #Anleitung{

}

.editieren td{
	text-align: right;
	display: block;
	font-size: 10pt;
}
	.editieren th{
		display: none;
		font-size: 10pt;
		width: 5em;
	}
	.editieren h3{
		margin-top: 10em;
	}



/* Aenderungen fuer Tablets */
@media (min-width: 30em) and (orientation: landscape) {
 .editieren{
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 2em;
}

	.editieren th{
		display: table-cell;
		font-size: 10pt;
	}

	.editieren td{
		display: table-cell;
		text-align: left;
	}
	.editieren span {
		display: none;
	}
	.editieren table input{
		width: 100%;
	}

	.editieren h2 {
		font-family: sans-serif;
		font-size: 19pt;
		color: inherit;
		text-decoration-line: underline;
		margin-top: 90px;
		margin-left: 22px;
	}

	.editieren img{
		width: 8%;
		height: 8%;
	}
	.editieren #Bezeichnung{
		background-color:rgba(51,51,51,0.2);
		padding-top: 30px;
		padding-bottom:30px;
		padding-left: 50px;
		font-family: sans-serif;
		font-size: 11pt;
		font-weight: 501;
		color: inherit;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 40px;
	;

	}
	.editieren #textfeld{
		width: 400px;
		height:40px;
		margin-top:5px;
		background-color: rgba(240,240,240,0.7);
		padding-left: 50px;
		margin-left: 10px;

	}
	.editieren #auswahl{
		width:440px;
		margin-top:30px;
		margin-bottom: 0px;
		margin-left: 40px;
		background-color: rgba(240,240,240,0.7);

	}
	.editieren #Kategorie{
		background-color:rgba(51,51,51,0.2);
		font-family: sans-serif;
		font-size: 11pt;
		font-weight: 501;
		color: inherit;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 9px;
		padding-bottom:30px;
		padding-left: 50px;
	}
	.editieren #Kalabel{
		/* hier noch das Label verschieben, aber wie????*/
	}

	.editieren #durchsuchen{
		margin-left: 200px;
		background-color: rgba(240,240,240,0.7);



	}
	.editieren #durchsuchen1{
			background-color:rgba(51,51,51,0.2);
			margin-top: 10px;
			padding-top: 20px;
			padding-bottom: 20px;
			margin-left: 20px;
			margin-right: 20px;

	}
	.editieren h1{
		font-family: sans-serif;
		font-size: 11pt;
		color: inherit;
		margin-top: 10px;
		margin-bottom: 25px;
		padding-top: 25px;
		margin-left: 50px;
	}

	.editieren #table{
		background-color: rgba(240,240,240,0.7);
		margin-left: 40px;

	}

	.editieren #tabelle{
		background-color:rgba(51,51,51,0.2);
		margin-left: 20px;
		margin-right: 20px;
		padding-bottom: 30px;

	}
.editieren th{
	height: 25px;
	background-color: rgba(220,220,220,0.8);
	border: none;
}
.editieren td{
	height: 27px;
}
	.editieren #stückzahl{
		width: 7.5em;
		height: 27px;
		background-color:#F2F2F2;
		border-style: solid;
		border: none;
		border-width: 1px;
	}
	.editieren #laenge{
		width: 7.5em;
		height: 27px;
		background-color:#F2F2F2;
		border-style: solid;
		border: none;
		border-width: 1px;

	}
	.editieren #hoehe{
		width: 7.5em;
		height: 27px;
		background-color: #F2F2F2;
		border-style: solid;
		border: none;
		border-width: 1px;
	}
	.editieren #breite{
		width: 7.5em;
		height: 27px;
		background-color:#F2F2F2;
		border-style: solid;
		border-width: 1px;
		border: none;
	}
	.editieren #preis{
		width: 7.5em;
		height: 27px;
		background-color: #F2F2F2;
		border-style: solid;
		border: none;
		border-width: 1px;
	}
.editieren #Materialname{
	width: 9.5em;
	height: 27px;
	background-color: #F2F2F2;
	border-style: solid;
	border: none;
}

.editieren #Maßeinheit{
	width: 7.5em;
	height: 27px;
	background-color: #F2F2F2;
	border-style: solid;
	border: none;
}
.editieren #Maßeinheit2{
	width: 7.5em;
	height: 27px;
	background-color: #F2F2F2;
	border-style: solid;
	border: none;
}
.editieren #Maßeinheit3{
	width: 7.5em;
	height: 27px;
	background-color: #F2F2F2;
	border-style: solid;
	border: none;
}

	.editieren #textfeld2{
		width: 600px;
		height:200px;
		margin-left: 40px;
		margin-bottom: 5px;
		background-color: rgba(240,240,240,0.8);
		padding-left: 20px;
		padding-top: 20px;
	}
	.editieren #Anleitung{
		background-color:rgba(51,51,51,0.2);
		font-size: 11pt;
		padding-left: 20px;
		padding-top: 20px;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.editieren #Anleitunglabel{
	}

	.editieren #Buttons1{
	background-color:rgba(51,51,51,0.2);
	margin-left: 20px;
	margin-right: 20px;

	}
	.editieren #suchbutton{
		margin-right:150px;
		margin-left:200px;
		margin-top: 1px;
		margin-bottom: 20px;
	}
}

/*  Aenderungen fuer Desktops */
@media (min-width: 75em) {
	.editieren {
		background: rgba(200, 200,200, 0.7);
		margin-left: 15px;
		margin-right: 15px;
		font-size: 5px;
		padding-bottom: 2em;

	}

	.editieren h2 {
		font-family: sans-serif;
		font-size: 20pt;
		color: inherit;
		margin-left: 20px;
		text-decoration-line: underline;
		margin-top: 90px;
		margin-left: 60px;
	}

	.editieren img{
		width: 8%;
		height: 8%;
	}
	.editieren #Bezeichnung{
		/*background-color: rgba(240,240,240,0.5);*/
		background-color:rgba(51,51,51,0.2);
		padding-top: 30px;
		padding-bottom:30px;
		padding-left: 50px;
		font-family: sans-serif;
		font-size: 12pt;
		font-weight: 501;
		color: inherit;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 40px;
	;

	}
	.editieren #textfeld{
		width: 400px;
		height:40px;
		margin-top:5px;
		background-color: rgba(240,240,240,0.8);
		padding-left: 50px;
		margin-left: 10px;

	}
	.editieren #auswahl{
		width:440px;
		margin-top:30px;
		margin-bottom: 0px;
		margin-left: 40px;
		background-color: rgba(240,240,240,0.8);

	}
	.editieren #Kategorie{
		/*background-color: rgba(240,240,240,0.5);*/
		background-color:rgba(51,51,51,0.2);
		font-family: sans-serif;
		font-size: 12pt;
		font-weight: 501;
		color: inherit;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 9px;
		padding-bottom:30px;
		padding-left: 50px;
	}
	.editieren #Kalabel{
		display: inline-block;
		margin-top: 3px;
		/* hier noch das Label verschieben, aber wie????*/
	}

	.editieren #durchsuchen{
		margin-left: 200px;
		background-color: rgba(240,240,240,0.8);



	}
	.editieren #durchsuchen1{
			background-color:rgba(51,51,51,0.2);
			margin-top: 10px;
			padding-top: 20px;
			padding-bottom: 20px;
			margin-left: 20px;
			margin-right: 20px;

	}
	.editieren h1{
		font-family: sans-serif;
		font-size: 11pt;
		color: inherit;
		margin-top: 10px;
		margin-bottom: 25px;
		padding-top: 25px;
		margin-left: 50px;
	}

	.editieren #table{
		background-color: rgba(240,240,240,0.8);
		margin-left: 40px;

	}

	.editieren #tabelle{
		background-color:rgba(51,51,51,0.2);
		margin-left: 20px;
		margin-right: 20px;
		padding-bottom: 30px;

	}
.editieren th{
	height: 25px;
	background-color: rgba(220,220,220,0.8);
	border: none;
}
.editieren td{
	height: 27px;
}
	.editieren #stückzahl{
		width: 7.5em;
		height: 27px;
		background-color: #F2F2F2;
		border-style: solid;
		border: none;
		border-width: 1px;
	}
	.editieren #laenge{
		width: 7.5em;
		height: 27px;
		background-color: #F2F2F2;
		border-style: solid;
		border: none;
		border-width: 1px;

	}
	.editieren #hoehe{
		width: 7.5em;
		height: 27px;
		background-color: #F2F2F2;
		border-style: solid;
		border: none;
		border-width: 1px;
	}
	.editieren #breite{
		width: 7.5em;
		height: 27px;
		background-color: #F2F2F2;
		border-style: solid;
		border-width: 1px;
		border: none;
	}
	.editieren #preis{
		width: 7.5em;
		height: 27px;
		background-color:#F2F2F2;
		border-style: solid;
		border: none;
		border-width: 1px;
	}
.editieren #Materialname{
	width: 9.5em;
	height: 27px;
	background-color: #F2F2F2;
	border-style: solid;
		border: none;
}

.editieren #Maßeinheit{
	width: 7.5em;
	height: 27px;
	background-color: #F2F2F2;
	border-style: solid;
	border: none;
}
.editieren #Maßeinheit2{
	width: 7.5em;
	height: 27px;
	background-color: #F2F2F2;
	border-style: solid;
	border: none;
}
.editieren #Maßeinheit3{
	width: 7.5em;
	height: 27px;
	background-color: #F2F2F2;
	border-style: solid;
		border: none;
}

	.editieren #textfeld2{
		width: 600px;
		height:200px;
		margin-left: 40px;
		margin-bottom: 5px;
		background-color: rgba(240,240,240,0.8);
		padding-left: 20px;
		padding-top: 20px;
	}
	.editieren #Anleitung{
		background-color:rgba(51,51,51,0.2);
		font-size: 12pt;
		padding-left: 20px;
		padding-top: 20px;
		margin-top: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.editieren #Anleitunglabel{
	}

	.editieren #Buttons1{
	background-color:rgba(51,51,51,0.2);
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;

	}
	.editieren #suchbutton{
		margin-right:150px;
		margin-left:200px;
		margin-top: 1px;
		margin-bottom: 20px;
	}
}
