/* Alle Selektoren müssen mit .suchen beginnen */

.suchen {
		background-color: rgba(200, 200,200, 0.7);
		margin-left: 0.5em;
		margin-right: 0.5em;
		font-size: 12pt;
		font-family: sans-serif;
}
.suchen h2 {
	font-size: 18pt;
	color: inherit;
	margin-top: 1.2em;
}

.suchen #Button{
	width: 1.5em;
	height: 1.5em;
}
.suchen img{
	width: 16em;
	height: 16em;

}

.suchen #Kopfbereich{
	display: block;
	background:rgba(0, 0, 0, 0.3);
	border: 2px solid black;
	margin-top: 3em;
	margin-bottom: 2em;
	text-align: center;
	padding: 1em;
}


/* Aenderungen fuer Tablets */
@media (min-width: 992px) {

}

/*  Aenderungen fuer Desktops */
@media (min-width: 1200px) {

}
