/* Alle Selektoren müssen mit .materialliste beginnen */
.materialliste {
	background-color: rgba(200, 200,200, 0.7);
	margin-left: 1em;
	margin-right: 1em;
	font-size: 11pt;
	padding-bottom: 5em;
	padding-left: 1em;
	padding-right: 1em;
}
.materialliste .Bezeichnung{
	font-size: 13pt;
	margin-bottom: 1em;
}

.materialliste h2 {
	font-family: sans-serif;
	font-size: 15pt;
	text-decoration-line: underline;
	color: inherit;
	margin-top: 2.5em;

}
.materialliste span{
	display: inline-block;
	width: 8em;
	text-align: none;
	color: black
}

.materialliste a {
	text-decoration: none;
	display: inline-blocK;
	width: 100%
}
.materialliste td{
	display: block;
	font-size: 12pt;
	text-align: none;
	text-decoration: none;
	color: black
}
	.materialliste th{
		display: none;

	}

.materialliste #Gesamtpreis{
	margin-top: 1.5em;
	background-color:rgba(204,102,51,0.8);
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	text-align: right;
	padding-right: 1em;
	font-size: 12pt;

}

.materialliste .Listenanzeige{
	background-color:rgba(51,51,51,0.2);
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.materialliste .Preismoebel{
padding-top: 1em;
padding-bottom: 1em;
color: black;
text-decoration: none;
font-style: italic;
font-size: 13pt;
}
.materialliste .Anleitung span{
	display: inline;
}
/* Aenderungen fuer Tablets */
@media (min-width: 30em) and (orientation: landscape), (min-width: 75em) {

.materialliste h2{
	font-size: 23pt;
}
.materialliste span {
	display: none;
}

.materialliste th{
	display: table-cell;
	font-size: 13pt;
	padding-right: 2em;
	text-align: left;
	color: black
}
 .materialliste td{
	 font-size: 13pt;
 	display: table-cell;
 	text-align: left;
 }
 .materialliste .Anleitung span{
	 font-size: 12pt;
 }

 .materialliste .Preismoebel{
	 font-size: 14pt;
 }

 .materialliste #Gesamtpreis{
	 font-size: 15pt;
 }
}


/*  Aenderungen fuer Desktops */
@media (min-width: 75em) {
.materialliste th{
	font-size: 15pt;
}
.materialliste td{
	font-size: 15pt;
}
.materialliste .Anleitung span{
	font-size: 14pt;
}
.materialliste .Preismoebel{
	font-size: 16pt;
}
.materialliste #Gesamtpreis{
	font-size: 18pt;
}

	}
